<h2>💼 Experience</h2>
<div id="experience" class="content">
    <ul>
        <li><strong>University of Toronto</strong>: Research Assistant - Conducted Research on diffusion video generation and its robots applications.</li>
        <li><strong>Advanced Micro Devices (AMD)</strong>: Analog Design Intern - Developed internal workflows capitalizing on machine learning techniques for silicon layout.</li>
        <li><strong>University of Toronto</strong>: Research Assistant - Conducted research on novel structural sensing techniques.</li>
        <li><strong>Diversio</strong>: Software Engineering Intern - Developed MVP using React and Node.js, developed internal tooling for data transformations.</li>
    </ul>
</div>