body {
  font-family: system-ui, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 2rem;
  line-height: 1.6;
  background: #ffffff;
  color: #333;

}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #222;
}
/* .section {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  cursor: pointer;
} */
 .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
  background-color: #ffffff;
 }
 .nav-links {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffffcc;
  backdrop-filter: blur(4px);
  text-align: center;
  padding: 0.75rem;
  z-index: 1000;
 }
.nav-links button {
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 0.4rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.content {
  /* display: none; */
  padding-top: 0.5rem;
  font-size: 1.2rem
}
a {
  color: #007acc;
}

.section-fullscreen {
  height: 100vh;
  padding: 4rem 2rem 2rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

/* .bg-about      { background-color: #c0e2ff; }
.bg-experience { background-color: #d8edff; }
.bg-skills     { background-color: #c0e2ff; }
.bg-contact    { background-color: #d8edff; } */